<h3>All instructors:</h3>
<%Instructor.all.each do |instructor|%>

<div><img src="/<%=instructor.picture_url%>.png" alt=""  style="width:64px;height:64px;float:none;margin:10px;"> <a href='/instructors/<%=instructor.id%>/show'><%=instructor.name%></a></div>

<%end%>

<br>
<h4>Instructor Log In:</h4>
<form action='/instructors/login' method='POST'>
    <label for='email'>Email:</label>
    <input type='email' name='email'>
    <label for='password'>Password:</label>
    <input type='password' name = 'password'>
    <input type='submit' value='Log In'>
</form>