<br>
<h2>Instructor Log In:</h2>
<form action='/instructors/login' method='POST'>
<label for='email'>Email:</label>
<input type='email' name='email'>
<label for='password'>Password:</label>
<input type='password' name = 'password'>
<input type='submit' value='Log In'>
</form>