<!--<p style="color:red;">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</p>
-->

<h3>All classes:</h3>

<%Groupclass.all.each do |groupclass|%>
   <%spots = groupclass.spots_available%>
   <%status = spots>0?"#{spots} spots available":"FULL!" %>
<ul>
<li><a href='/groupclasses/<%=groupclass.id%>/show'><%=groupclass.name%></a> - <%=status%></li>
</ul>
<%end%>