<div>
<img src="/island-fitness.jpg" alt="Island Fitness" style="max-width:50%;height:auto;float:left;margin:10px;">
<h2>Premier Fitness Center</h2>
<h3>Now open at a new location</h3>
<p>123 Diary Rd<br>
Wailuku, HI 96793</p>
</div>

