<!doctype html>
<html>
  <head>
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    

    <title>Island Fitness</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to Island Fitness!</h1>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="/groupclasses">Group Classes</a>
          <a class="navbar-brand" href="/instructors">Instructors</a>
          <a class="navbar-brand" href="/students/show">Students</a>
          <a class="navbar-brand" href="/students/new">Sign Up</a>
      </nav>
      <% if flash.has?(:message) %>
        <div class="alert alert-info">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          <%= flash[:message] %>
        </div>
      <% end %>
      <%= yield %>
    </div>

  </body>
  
</html>